@model HaatBazaar.Web.Models.Connections.ConnectionResponseModel

<div class="row">
    <div class="col-4">
        <span>Seller Detail</span>
        <div class="row">
            <span>Item: @Model.Item.ItemName</span>
            <span>Quantity: @Model.Item.Quantity @Model.Item.Unit</span>
            <span>Rate: @Model.Item.Rate / @Model.Item.Unit</span>
            <span>Total: @Model.Item.Total</span>
        </div>

        <div class="row">
            <div class="col-12">
                <span>Name: @Model.Seller?.Name</span>
                <span>Phone Number: @Model.Seller?.PhoneNumber</span>
                <span>Address: @(Model.Seller?.Address ?? "-")</span>
            </div>
            <div class="col-12">
                @foreach (var item in Model.Seller.Items)
                {
                    <span>Name: @item.ItemName</span>
                    <span>Quantity: @item.Quantity @item.Unit</span>
                    <span>Rate: @item.Rate / @item.Unit</span>
                    <span>Total: @item.Total </span>
                }
            </div>
        </div>
        <div class="row">
            @if (Model.IsSeller && Model.ContractStatus.Equals("request"))
            {
                <form method="post" asp-action="Approve">
                    <input type="hidden" name="connectionId" value="@Model.ConnectionId" />
                    <div class="row">
                        <div class="col-12">
                            <button type="submit">Approve</button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
    <div class="col-4">
        <div id="chat"></div>
        <input type="text" id="messageInput" placeholder="Type a message..." />
        <script src="client.js"></script>
    </div>
    @if (Model.Buyer.BuyerId != Model.Seller.SellerId)
    {
        <div class="col-4"></div>
        <div class="col-4">
            <span>Buyer Detail</span>
            <div class="row">
                <div class="col-12">
                    <span>Name: @Model.Buyer.Name</span>
                    <span>Phone Number: @Model.Buyer.PhoneNumber</span>
                    <span>Address: @(Model.Buyer.Address ?? "-")</span>
                </div>
            </div>
            <div class="row">
                @if (!Model.IsSeller && string.IsNullOrEmpty(Model.ContractStatus))
                {
                    <form method="post" asp-action="RequestToBuy">
                        <input type="hidden" name="connectionId" value="@Model.ConnectionId" />
                        <div class="row">
                            <div class="col-12">
                                <button type="submit">Buy</button>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button>Buy</button>
            </div>
        </div>
    }
</div>