@model IEnumerable<HaatBazaar.Web.Models.UserItems.UserItemDisplayModel>
div class="container pt-5">
<div class="row">
    <div class="col-lg-8">
        <h3> User Dashboard .</h3>

        <a asp-controller="UserItemsUi" asp-action="Index"> User Items</a>
    </div>
    <div class="col-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Rate</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Item</td>
                            <td>@item.Quantity</td>
                            <td>@item.Unit</td>
                            <td>@item.Price</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">No items found.</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
</div>