@model IEnumerable<HaatBazaar.Web.Models.UserItems.UserItemDisplayModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">
    <div class="row">
        <h3>Add Products</h3>

        <p>
            <a asp-action="Create">Add New Product</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>@item.Price</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>